/Slide3_JSP/nbproject/private/
/Slide3_JSP/build/
/Slide4_/nbproject/private/
/Slide4_/build/
/Slide5_EL/nbproject/private/
/Slide5_EL/build/
/Slide6_CustomTags/nbproject/private/
/Slide6_CustomTags/build/
/WebSales/nbproject/private/
/WebSales/build/
/ThemSuaXoa/nbproject/private/
/ThemSuaXoa/build/
/Lab2/nbproject/private/
/MVCWeb/nbproject/private/
/MVCWeb/build/
/Fapfpt/nbproject/private/
/Fapfpt/build/
/lab3/nbproject/private/
/workshop1/nbproject/private/